# OMNIKEY PCSC/lite hotplug notification
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="1021", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="0596", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="3020", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="3021", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="3022", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="3620", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="7021", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="3621", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="3623", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="3821", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="3822", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="3823", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="4321", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="1784", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="6622", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="6623", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="1bd0", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="1bd1", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="8630", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="9621", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="a011", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="a012", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="a021", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="a022", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="a023", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="a024", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="a111", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="a112", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="a721", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="c000", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="c200", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="076b", ATTRS{idProduct}=="c300", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0bf8", ATTRS{idProduct}=="1005", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0bf8", ATTRS{idProduct}=="1006", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="046a", ATTRS{idProduct}=="0010", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="046a", ATTRS{idProduct}=="002d", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="046a", ATTRS{idProduct}=="007b", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
SUBSYSTEM=="usb", ATTRS{idVendor}=="046a", ATTRS{idProduct}=="0090", ACTION=="add", RUN+="ok_pcscd_hotplug.sh"
